;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"]]

 :builds
 {:app {:target :browser
        :modules {:main {:entries [core]}}}}}
